.header {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #6da1a3;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}