/* ------------------------- new-tweet ------------------------ */
#tweet-text {
  width: 100%;
  resize: none;
  background-color: #f4f1ec;
  border-bottom: 4px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  margin-bottom: 10px;
}

#button {
  background-color: #6da1a3;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bungee', cursive;
}

.submit-container {
  display: flex;
  justify-content: space-between;
}

.new-tweet {
  width: 100%;
}

.tweet-box-header{
  display:flex;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
}

/* ------------------------- mobile ------------------------ */
@media (min-width: 1024px) {
  .container {
    display: flex;
    width: 65vw;
    margin-top: 120px;
  }
}
